<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="connectDB" connectionString="Data Source =AKSHAR;Initial Catalog=Final_Project_Multi_Tier;;User ID=sa;Password=123" />
	<add name="Final_Project_Multi_TierEntities" connectionString="metadata=res://*/MODEL.Model.csdl|res://*/MODEL.Model.ssdl|res://*/MODEL.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AKSHAR;initial catalog=Final_Project_Multi_Tier;user id=sa;Password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>